{
    "presets": [
        ["@babel/preset-env",
        {
            "useBuiltIns": "usage",
            "targets": {
                "ie": "11"
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        [
            "@babel/plugin-transform-spread",
            {
                "loose": true
            }
        ]
    ]
}
